# Node.js dependencies
node_modules/
npm-debug.log
yarn-error.log

# macOS system files
.DS_Store
.AppleDouble
.LSOverride
._*
.Spotlight-V100
.Trashes

# IDEs & Editors
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Build artifacts
dist/
build/
out/

# Environment variables
.env
.env.local
.env.*.local